body { background: url("../img/logo.png") no-repeat center 50px, #004576; height: 100%; }

#start-page .card { box-shadow: none; background-color: transparent; position: absolute; top: 150px; }

#start-page .card .item {border: 0; background-color: transparent;}

#start-page .card p { text-align: center; color: #fff; }